.Description {
	text-align: left;
}

.DescriptionButtonStyle {
	font-size: .75em;
    padding-left: 3px;
    width: 60px;
    height: 20px;
    font-family: sans-serif;
    color: #333333;
    line-height: 1px
}

.DescriptionInput {
	width: 250px;
	height: 100px;
}